 [v-cloak] {
   display: none;
 }

 html {
   text-align: center;
 }

 .calendar {
   margin: 30px 0;
 }

 .weekDay,
 .week {
   display: flex;
   border-bottom: 1px solid #ddd;
 }

 .weekDay {
   >div {
     flex: 1 1 0%;
     line-height: 30px;
   }
 }

 .week {
   border-right: 1px solid #ddd;

   >div {
     position: relative;
     flex: 1 1 0%;
     line-height: 30px;
     height: 90px;
     border-left: 1px solid #ddd;

     &::before {
       border-left: 1px solid #ddd;
       border-bottom: 1px solid #ddd;
       position: absolute;
       content: attr(data-date);
       top: 0;
       right: 0;
       width: 30px;
     }
   }

 }

 .today:before {
   color: #fff;
   background-color: #000;
 }

 .other {
   color: #333;
   background-color: #bbb;
 }